
/*===========================================================
    CSS INDEX
    ===================
	
	[ 1. General Code ]
	[ 2. Typography ]
	[ 3. Global Classes ]
	[ 4. Home Version's ]
	[ 5. Pages ]
	[ 6. Loding Bar ]
	[ 7. ScrollUp ]
==============================================================*/

/* 
[ 1. General Code ]
================ */


.part-photo {
	height: 380px;
	background-image: url('../img/2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
body{
	font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
    color: #626262;
    background-color: #ffffff;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}

html {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
        background: #f5f5f5;
}

::-moz-selection {
    background: #003663;
    text-shadow: none;
	color:#ffffff;
}
::selection {
    background: #003663;
    text-shadow: none;
	color:#ffffff;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #cccccc;
    color: #000000;
    padding: 0.2em 0;
}

img {
	max-width:100%;
}
.fix {
	overflow:hidden;
}
.clear{
	clear:both
}

/* Link style
============== */
a {
    color: #ffffff;
	font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
	line-height: 1;
}
a,a > * {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #ffffff;
    outline: none;
    text-decoration: none;
}



/* 
[ 2. Typography ]
==========================*/
p{
	font-family: 'Poppins', sans-serif;
	color: #3f3f3f;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	margin: 0;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #111111;
    margin: 0 0 15px;
	text-transform:uppercase;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}
h1 {
    font-size: 36px;
	font-weight: 700;
	color: #111111;
}
h2 {
    font-size: 30px;
	
	font-weight: 600;
}
h3 {
    font-size: 24px;
	color: #111111;
	font-weight: 700;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
	color: #2c2c2c;
	font-weight: 600;
}
h6 {
    font-size: 12px;
	color: #929292;
	font-weight: 400;
}

/* 
[ 3. Global Classes ]
====================================== */
.poppins{
	font-family: 'Poppins', sans-serif;
}
.no-margin {
    margin: 0;
}
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
.no-padding {
    padding: 0;
}
.section-padding {
    /*padding: 120px 0;*/
        padding-left: 20px;
        padding-right: 20px;
    padding-top: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-pt {
    padding-top: 120px;
}
.section-pb {
    padding-bottom: 120px;
}
.white-color{
	color: #ffffff;
}
.l-height{
	line-height: 1;
}
.mr-auto{
	margin-right: auto;
}
.justify-end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
            justify-content: flex-end;
}
.d-flex {
	display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}
.d-inblock {
    display: inline-block;
}
.column-center{
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
/* Screen Support */
@media screen and (max-width: 767px) {
	.section-padding {
		padding: 80px 0;
	}
	.section-pt {
		padding-top: 80px;
	}
	.section-pb {
		padding-bottom: 80px;
	}
}

/* percentage
--------------*/
.percent-20{
	width: 20%;
}
.percent-25{
	width: 25%;
}
.percent-33{
	width: 33.333%;
}
.percent-50{
	width: 50%;
}
.percent-66{
	width: 66.666%;
}
.percent-100{
	width: 100%;
}
.height-100{
	height: 100%;
}
/* Screen Support */
@media screen and (max-width: 767px) {
	.percent-20,
	.percent-25,
	.percent-33,
	.percent-50,
	.percent-66{
		width: 100%;
	}
}

/*margin top
-------------*/
.mt-5{
	margin-top: 5px;
}
.mt-10{
	margin-top: 10px;
}
.mt-15{
	margin-top: 15px;
}
.mt-20{
	margin-top: 20px;
}
.mt-25{
	margin-top: 25px;
}
.mt-30{
	margin-top: 30px;
}
.mt-35{
	margin-top: 35px;
}
.mt-40{
	margin-top: 40px;
}
.mt-45{
	margin-top: 45px;
}
.mt-50{
	margin-top: 50px;
}
.mt-70{
	margin-top: 70px;
}
.mt-90{
	margin-top: 90px;
}
.mt-100{
	margin-top: 100px;
}

/* Screen Support */
@media screen and (max-width: 767px) {
	.mt-100,
	.mt-50,
	.mt-45,
	.mt-40{
		margin-top: 30px;
	}
	.mt-90{
		margin-top: 60px;
	}
	.mt-70 {
	  margin-top: 40px;
	}
}

/*margin bottom
----------------*/
.mb-5{
	margin-bottom: 5px;
}
.mb-10{
	margin-bottom: 10px;
}
.mb-15{
	margin-bottom: 15px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-25{
	margin-bottom: 25px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-35{
	margin-bottom: 35px;
}
.mb-40{
	margin-bottom: 40px;
}
.mb-45{
	margin-bottom: 45px;
}
.mb-50{
	margin-bottom: 50px;
}
.mb-55{
	margin-bottom: 55px;
}
.mb-65{
	margin-bottom: 65px;
}
.mb-75{
	margin-bottom: 75px;
}
.mb-90{
	margin-bottom: 90px;
}
/* Screen Support */
@media screen and (max-width: 767px) {
	.mb-90{
		margin-bottom: 60px;
	}
	.mb-75{
		margin-bottom: 50px;
	}
	.mb-65 {
	  margin-bottom: 40px;
	}
}

/*margin left
--------------*/
.ml-5{
	margin-left: 5px;
}
.ml-10{
	margin-left: 10px;
}
.ml-15{
	margin-left: 15px;
}
.ml-20{
	margin-left: 20px;
}
.ml-25{
	margin-left: 25px;
}
.ml-30{
	margin-left: 30px;
}
.ml-35{
	margin-left: 35px;
}
.ml-40{
	margin-left: 40px;
}
.ml-45{
	margin-left: 45px;
}
.ml-50{
	margin-left: 50px;
}
/* Screen Support */
@media screen and (max-width: 767px) {
	
}

/*margin right
--------------*/
.mr-5{
	margin-right: 5px;
}
.mr-10{
	margin-right: 10px;
}
.mr-15{
	margin-right: 15px;
}
.mr-20{
	margin-right: 20px;
}
.mr-25{
	margin-right: 25px;
}
.mr-30{
	margin-right: 30px;
}
.mr-35{
	margin-right: 35px;
}
.mr-40{
	margin-right: 40px;
}
.mr-45{
	margin-right: 45px;
}
.mr-50{
	margin-right: 50px;
}
/* Screen Support */
@media screen and (max-width: 767px) {
	
}

/*padding-top
--------------*/
.pt-5{
	padding-top: 5px;
}
.pt-10{
	padding-top: 10px;
}
.pt-15{
	padding-top: 15px;
}
.pt-20{
	padding-top: 20px;
}
.pt-25{
	padding-top: 25px;
}
.pt-30{
	padding-top: 30px;
}
.pt-35{
	padding-top: 35px;
}
.pt-40{
	padding-top: 40px;
}
.pt-45{
	padding-top: 45px;
}
.pt-50{
	padding-top: 50px;
}

/* Screen Support */
@media screen and (max-width: 767px) {
	
}

/*padding-bottom
------------------*/
.pb-5{
	padding-bottom: 5px;
}
.pb-10{
	padding-bottom: 10px;
}
.pb-15{
	padding-bottom: 15px;
}
.pb-20{
	padding-bottom: 20px;
}
.pb-25{
	padding-bottom: 25px;
}
.pb-30{
	padding-bottom: 30px;
}
.pb-35{
	padding-bottom: 35px;
}
.pb-40{
	padding-bottom: 40px;
}
.pb-45{
	padding-bottom: 45px;
}
.pb-50{
	padding-bottom: 50px;
}

/* Screen Support */
@media screen and (max-width: 767px) {
	
}

/*padding top bottom
---------------------*/
.ptb-5{
	padding-top: 5px;
	padding-bottom: 5px;
}
.ptb-10{
	padding-top: 10px;
	padding-bottom: 10px;
}
.ptb-15{
	padding-top: 15px;
	padding-bottom: 15px;
}
.ptb-20{
	padding-top: 20px;
	padding-bottom: 20px;
}
.ptb-25{
	padding-top: 25px;
	padding-bottom: 25px;
}
.ptb-30{
	padding-top: 30px;
	padding-bottom: 30px;
}
.ptb-35{
	padding-top: 35px;
	padding-bottom: 35px;
}
.ptb-40{
	padding-top: 40px;
	padding-bottom: 40px;
}
.ptb-45{
	padding-top: 45px;
	padding-bottom: 45px;
}
.ptb-50{
	padding-top: 50px;
	padding-bottom: 50px;
}
.ptb-100{
	padding-top: 100px;
	padding-bottom: 100px;
}
/* Screen Support */
@media screen and (max-width: 767px) {
	.ptb-100 {
	  padding-bottom: 80px;
	  padding-top: 80px;
	}
}


/* Padding left
-------------------- */
.pl-5{
	padding-left: 5px;
}
.pl-10{
	padding-left: 10px;
}
.pl-15{
	padding-left: 15px;
}
.pl-20{
	padding-left: 20px;
}
.pl-25{
	padding-left: 25px;
}
.pl-30{
	padding-left: 30px;
}
.pl-35{
	padding-left: 35px;
}
.pl-40{
	padding-left: 40px;
}
.pl-45{
	padding-left: 45px;
}
.pl-50{
	padding-left: 50px;
}
.pl-60{
	padding-left: 60px;
}

/* Screen Support */
@media screen and (max-width: 767px) {
	
}

/* Padding right
-------------------- */
.pr-5{
	padding-right: 5px;
}
.pr-10{
	padding-right: 10px;
}
.pr-15{
	padding-right: 15px;
}
.pr-20{
	padding-right: 20px;
}
.pr-25{
	padding-right: 25px;
}
.pr-30{
	padding-right: 30px;
}
.pr-35{
	padding-right: 35px;
}
.pr-40{
	padding-right: 40px;
}
.pr-45{
	padding-right: 45px;
}
.pr-50{
	padding-right: 50px;
}
.pr-60{
	padding-right: 60px;
}

/* Screen Support */
@media screen and (max-width: 767px) {
	
}


/*font size in screen support
-----------------------------------*/
@media screen and (max-width: 767px) {

    .font-30 {
        font-size: 25px
    }
    h1,
    .font-35,
    .font-42,
    .font-90,
    .font-40 {
        font-size: 30px
    }
}

/* background color 
===============================*/
.white-bg {
	background-color: #ffffff;
}
.black-bg {
	background-color: #101010;
}
.light-bg {
	background-color: #f8f8f8;
}
.dark-bg {
	background-color: #141414;
}
.theme-bg {
	background-color: #003663;
}
.bg-color-1 {
	background-color: #f5f5f5;
}

/* background image 
==================================*/

.bg-img-1{
	background-image: url("../img/2.jpg") ;
	background-size: cover;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
}


/* background overlay 
===================================*/
.overlay{
	position:relative;
	height: 80vh;
}
.overlay:before{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	content:"";
	background:rgba(0,0,0,.60);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.overlay .container{
	position:relative;
	z-index:2;
}
/* dark overlay 
================================*/
.overlay.dark-1:before {
    background-color: rgba(20,20,20,.85);
}
.overlay.dark-2:before {
    background-color: rgba(40,40,40,.90);
}
.overlay.dark-3:before {
    background-color: rgba(29,29,29,.80);
}
.overlay.dark-4:before {
    background-color: rgba(0,0,0,.60);
}
.overlay.dark-5:before {
    background-color: rgba(0,0,0,.90);
}

/* light overlay 
================================*/
.overlay.light-1:before {
    background-color: rgba(255,255,255,.5);
}

/* others color overlay 
=================================*/
.overlay-1:before {
    background-color: rgba(0,54,99,.90);
}
.overlay-2:before {
    background-color: rgba(0,54,99,.80);
}


/*Verticle Aligne Middle 
--------------------------*/
.d-table {
    display: table;
    width: 100%;
	height: 100%;
}
.dt-cell {
    display: table-cell;
    vertical-align: middle;
}
.v-align {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.row-eq-height {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/* Default Button Style
------------------------ */
.btn {
	border: 1px solid #efefef;
	background-color: rgba(0,0,0,.025);
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	height: 48px;
	line-height: 50px;
	padding: 0 40px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	color: #1c1e1f;
	letter-spacing: 3.20px;
}
.lg-btn {
	padding: 0 30px;
	height: 48px;
	line-height: 50px;
}
.sm-btn {
	padding: 0 20px;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	color: #626262;
	letter-spacing: 2px;
	border: 1px solid #a5a5a5;
	background-color: transparent;
}
.btn.sm-btn:focus,
.btn.sm-btn:hover {
	color: #ffffff;
	border-color: #003663;
	background-color: #003663;
}
.btn.white {
	background-color: #ffffff;
	color: #003663;
	font-size: 14px;
	height: 48px;
	letter-spacing: 2px;
	line-height: 50px;
	padding: 0 25px;
}
.btn.white:focus {
	color: #003663;
}
.btn:hover{
          background-color: rgba(0,0,0,.05);
}
.btn i.material-icons {
    font-size: 20px;
}
.btn.focus, 
.btn:focus, 
.btn:hover {
        color: #50aeb5
	border-color: #003663;
}
.btn:focus,
button:focus {
    outline: none !important;
}
.btn.border{
	background-color: transparent;
	border: 2px solid #ffffff;
}
.btn.border:hover{
	background-color: #003663;
	border-color: #003663;
}
.btn:hover, .btn:focus, .btn.focus{
	color: #50aeb5;

}
.btn-alt{
	    background-color: #434343;
    border-color: #434343;
    color: #fff;
}
.btn-alt:hover{
    background-color: #50aeb5;
    border-color: #50aeb5;
        color: #fff;
}
/*Screen Support
--------------------*/
@media screen and (max-width: 767px) {
    .lg-bgn {
        font-size: 14px;
    }
}

/* Customize Form style
======================== */
.form-control {
    border-radius: 0;
}
.input-field {
    margin-top: 45px;
}
.input-field label {
    color: #999;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
}
.input-field label.active {
    font-size: 12px;
}
.custom-input label {
    color: #ffffff;
    font-weight: 300;
}
.custom-input label.error {
    position: absolute;
    top: -25px;
}


/*Flat Icon Setup
==========================*/
i[class^="flaticon-"] {
    line-height: 50px;
    display: inline-block;
}
i[class^="flaticon-"]:before {
    font-size: 45px;
    margin-left: 0;
}

/* CSS Customization
============================== */
ul, ul li {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
nav {
    background-color: transparent;
}
nav ul,
nav ul li {
    float: none;
}
nav ul li:hover, 
nav ul li.active {
    background-color: transparent;
}
nav ul a {
    font-size: inherit;
}

@media only screen and (min-width: 1200px){
  .container {
    width: 1170px;
  }
}
@media only screen and (max-width: 749px) {
    .container {
        width: 100%; 
    }
}
@media only screen and (max-width: 601px) {
    .container {
         width: 90%; 
    }
}

.container .row {
    margin-right: -15px;
    margin-left: -15px;
}

.row .col {
    padding-right: 15px;
    padding-left: 15px;
}
sub {
  bottom: 0;
}

/* Section Heading
----------------- */
.heading > h1 {
	letter-spacing: 1px;
	margin-top: -8px;
}
.heading h5 {
    color: #111111;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.heading > p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 28px;
}
.heading.white h1,
.heading.white h5,
.heading.white p{
	color: #ffffff;
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
	.heading.pl-60 {
	  padding-left: 45px;
	}
}


/*====================================================================
							[ END ]
======================================================================*/
/* contact */
#contact {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 95%;
  overflow: auto;
  padding-top: 40px; }
  #contact .handle {
    width: 110px;
    height: 40px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    background: #333;
    top: 0;
    left: 50%;
    margin-left: -55px; }
  #contact h2 {
    color: #fff;
    padding: 10px 0;
    margin: 0;
    font-size: 14px;
    letter-spacing: 4px; }
    #contact h2 a {
      color: #fff; }
    #contact h2 a:hover {
      color: #00E1B6; }
  #contact .contact-info {
    background: #333; }

.box {
  /*width: 25%;*/
  height: ;
  position: relative;
  overflow: hidden; }

#about, #work {
  float: left; }

#service, #blog  {
  float: right; }


#about .header {
  background: #f9f9f9; }

#service .header {
  background: #ebebeb; }

#work .header {
  background: #ebebeb; }

#blog .header {
  background: #ddd; }

  .header:hover {
  background: #515152 !important;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.home__newsletter .newsletter__wrap{
	
	    padding: 5rem 0;
	    text-align: center;
}

.home__newsletter .newsletter__content .lead--title{
    font-family: proxima-nova,Proxima Nova,sans-serif;
    font-size: 2.5em;
    font-weight: 800;
    line-height: 1;
    margin-bottom: .438em;
    text-transform: uppercase;
    text-align: center;
}

.home__newsletter .newsletter__form input[type=email], .home__newsletter .newsletter__form input[type=text], .name_class{
	margin-right: 10px;
    border: 1px solid #efefef;
    border-radius: 2px;
    box-shadow: none;
    font-size: 1em;
    line-height: 2.4;
    outline: 0;
    padding: .438em .75em;
    transition: border .25s ease-in-out;
    width: 20%
    }

.middle{
	margin: 10px;
}

.site-info{
	color: #767676;
}



@media screen and (max-width: 600px) {
     .btn-alt {
    width: 87.08333333%;
	}
	 .home__newsletter .newsletter__form input[type=text] , .home__newsletter .newsletter__form input[type=email], .name_class {
        margin: 0px 0px 10px;
    width: 87.08333333%;
}

}
  @media screen and (min-width:478px ) and (max-width:516px ) {
   	.section-padding{
   		
   		padding-left: 20px;
        padding-right: 20px;
   	}

   